@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@ViewBag.Message

<hr>
<h4><small>Twoje dane są przechowywane w bazie danych i nie są nigdzie publikowane, wykorzystywane do celów marketingowych, rozsyłania spamu, wyłudzania pieniędzy i/lub innych nieprzyjemnych/niezgodnych z prawem/niemoralnych rzeczy</small></h4>