@using Microsoft.AspNet.Identity
<div class="media">
@{ string UserGUID = Request.Cookies["Session"].Value;
    <div class='pull-left'>       
        <img class='media-object img-circle' src='@Url.Content("~/Resources/Image/" + CrystalSiege.Controllers.ManageController.Get_Awatar(UserGUID))' width='30px' height='30px'>
    </div>
    <div class="media-body">
        <h5>@CrystalSiege.Controllers.ManageController.Get_Username(UserGUID)</h5>
    </div>
    }
</div>