<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="CrystalSiegeEntry.Properties.Settings.Connection"
      connectionString="Data Source=mssql5.webio.pl,2401;Initial Catalog=damianlukasik3612_crystalsiege;Persist Security Info=True;User ID=damianlukasik3612_user_crystalsiege;Password=&quot;*^r3bn7cBIR ^FiER#2&quot;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>